@mixin contrast {
    &:hover {
        filter: contrast(200%);
    }
}

@mixin afterEffect {
    content: '';
    z-index: -1;
    position: absolute;
}

@mixin polygon {
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    background-color: $accent-color;
}

@mixin center {
    text-align: center;
    text-decoration: none;
}

@mixin margins {
    width: 90%;
    margin: 0 auto;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin themeable($primary, $secondary, $primary-font, $secondary-font, $white) {
    background-color: $primary;

    header {
       background-color: $secondary; 
        
       nav {
           background-color: $secondary;

           #nav__toggle-btn {
            background: $primary-font;
           }

           .nav__inner-circle {
               background-color: $primary;
           }
    }


.hamburger,
.hamburger:before,
.hamburger:after {
    background-color: $secondary-bg-light;
}
    } 

    main {

        &__grid {
            &--link {
                background-color: $secondary;
            }

            &--desc {
                background-color: $secondary;
            }
        }

        .main__about {
            background-color: $secondary;
        }

        .main__contact {
            .fas,
            .fab {
                color: $white;

                &:hover {
                   color:  $accent-color;
                }
            }
        }
    }

    .footer {
        background-color: $secondary;
    }
    

.light_secondary-bg {
    background-color: $secondary-bg-light;
}

.light_primary-font {
    color: $secondary-bg-light;
}

.light_secondary-font {
    color: $secondary-bg-light;
}
}

@mixin theme-typography($primary, $secondary, $primary-font, $secondary-font, $white) {
    color: $primary-font;

   header {
    nav {
       
     & .nav__link {
         color: $primary-font;
         &:hover,
         &:focus {
             color: $white;
         }
     }
 }
   } 

   main {
       .main__intro {
           &__copy {
               &--subhead {
                   color: $primary;
               }
           }
       }
   }

   .footer {
       &__info {

           &--link {
               color: $white;

           }
       }
   }
}