$white: #fff;

$accent-color: rgb(255, 215, 0);



$font: 'Montserrat';
$max-width: 1000px;

// Dark Mode
$main-dark-gray: #3b3b3b;
$secondary-dark-gray: #4b4b4b;

//Light Mode
$main-light-gray: #b0b0b0;
$secondary-bg-light: #d6d6d6;
