$white: #fff;

// $accent-color: rgb(255, 215, 0);
$accent-color: rgb(59, 166, 215);


$font: 'Montserrat';
$max-width: 1000px;
$max-overlay-width: 200px;

// Dark Mode
$main-dark-gray: #3b3b3b;
$secondary-dark-gray: #4b4b4b;

//Light Mode
$main-light-gray: #b0b0b0;
$secondary-bg-light: #d6d6d6;
$off-white: #f0f0f0;