$button-bg-color: #fff; //change to whatever the background color ends up being
$main-dark-gray: #3b3b3b;
$main-light-gray: #b0b0b0;


body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: $main-dark-gray;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5em;
    padding: 0.25em;

    .nav-toggle {
        order: 1;
        border: unset;
        background-color: $button-bg-color;

        .hamburger {
            padding: 1em;
            border-top: 5px solid #ccc;
            border-bottom: 5px solid #eee;
        }
        
    }

    .logo {
        order: 2;
        display: flex;
        flex-direction: row;

        .header__first-name {
            font-weight: 300;
            padding-right: 0.2em;
        }

        .header__last-name {
            font-weight: 700;
        }
    }

    //everything within the navigation
    nav {
        display: flex;
        flex-direction: row;
        display: none;
    
        .nav__list {
            list-style: none;
        }
    }
}
