.nav-toggle {
    @include flex-column;
    align-items: center;

    padding: 0.5em;
    background: transparent;
    border: none;
    cursor: pointer;

    .hamburger {
        display: block;
        position: relative;
    }

    .hamburger,
    .hamburger::before,
    .hamburger::after {
        background-color: $main-light-gray;
        width: 2em;
        height: 3px;

        //transition: transform 250ms ease-in-out;
    }

    .hamburger::before,
    .hamburger::after {
        content: '';
        position: absolute;
        right: 0;
        left: 0;
    }

    .hamburger::before {top: 6px;}

    .hamburger::after {bottom: 6px;}

    &:hover {
        .hamburger,
        .hamburger::before,
        .hamburger::after  {
            background-color: $accent-color;
        }
    }
}

.nav-open {
    transform: translateY(0);
}
//need to find the correct classes - or add a new one to activate this 

.rotate {
    transform: rotate(0.625turn);
}

.rotate:focus {
    outline: none;
}

.rotate .hamburger::after {
    opacity: 0;
}

.rotate .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}