/* code the modal itself */
main {
    .main__projects {
        &__grid {
            &--desc {
                position: relative;
                top: 0px;
                left: 0px;
                z-index: 1;
                max-width: $max-overlay-width;

                &-header {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .fas {
                        margin: 0.5em 0.5em 0.2em 0.5em;
                        cursor: pointer;
                        font-size: 1rem;

                        &:hover {
                            @include contrast;
                            cursor: pointer;
                        }
                    }
                }
            }

            &--icons {
                @include center;
                display: flex;
                justify-content: space-around;
                align-items: flex-end;

                .fab {
                    color: $accent-color;
                    max-height: 30px;
                    padding: 0.1em;

                    &:hover {
                        @include contrast;
                    }
                }
            }
        }
    }
}

.overlay {
    opacity: 0.3;
}