/* code the modal itself */
main {
    .main__projects {
        &__grid {
            &--desc {
                background-color: $secondary-dark-gray;
                position: relative;
                top: 0px;
                left: 0px;
                z-index: 1;
                max-width: 200px;

            }

            &--icons {
                @include center;
                display: flex;
                justify-content: space-around;

                .fab {
                    color: $accent-color;
                
                }
            }
        }
    }
}
