.nav__toggle {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#nav__toggle-btn {
    border-radius: 30px;
    padding: 5px;
    width: 60px;
    height: 30px;
    margin: 15px;
}

.nav__inner-circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transform: translateX(30px);
    transition: all 250ms;
}

#nav__toggle-btn.toggled>.nav__inner-circle {
    transform: translateX(0);
    background-color: $accent-color;
}

.unselected {
    opacity: 0.25;
}

@media (min-width: 800px) {
    //fix the absolute shit show that is the desktop layout of this button
}