body {
    margin: 0;
    //padding: 70px 0 0 0;
    font-family: "Montserrat", sans-serif;
    color: $main-light-gray;
    background-color: $main-dark-gray;
}

//DON'T DELETE - this is for the hamburger menu, dingbat
.show {
    display: block;
}