body {
    margin: 0;
    background-color: $main-dark-gray;
}

html {
    scroll-behavior: smooth;
}

//changes the outline when tabbing through the document.
:focus {
    outline: 2px solid $accent-color;
    outline-offset: 2px;
}

.hidden {
    display: none;
}

:root {
    --primary-bg-light: #e6e6e6;
    --secondary-bg-light: #d6d6d6;

    --main-dark-gray: #3b3b3b;
    --secondary-dark-gray: #4b4b4b;
    --main-light-gray: #b0b0b0;
    --accent-color: $accent-color;
}