// body {
//     // background-color: $main-dark-gray;
//     color: $main-light-gray;
// }

.dark_primary-bg {
    background-color: var(--primary-dark-gray);
}

.dark_secondary-bg {
    background-color: var(--secondary-dark-gray);
}

.dark_tertiary-bg {
    background-color: var(--primary-light-gray);
}

.dark_primary-font {
    color: var(--primary-light-gray);
}

.dark_secondary-font {
    color: var(--primary-bg-light);
}

.dark_tertiary-font {
    color: var(--primary-dark-gray);
}

.dark_white-font {
    color: #fff;
}

nav {
    & .nav__link {
        &:hover,
        &:focus {
            color: $button-bg-color;
        }
    }
}


//this is for the as of yet still broken modal
main {

    .main__projects {
        &--grid {
            &--link {
                background-color: $main-light-gray;
            }

            &--desc {
                background-color: $secondary-dark-gray;
            }
        }
    }
}