body {
        font-family: $font, sans-serif;
        color: $main-light-gray;
}

/* HEADER */

  .header__first-name {
          font-weight: 300;
          padding-right: 0.2em;
          @include contrast;
  }

  .header__last-name {
          font-weight: 700;
          @include contrast;
  }

  /* MAIN - INTRO */
main {

        .main__intro {

                 &__copy {
                         width: 50%;
                         text-align: center;

                         &--headline {
                                 font-size: 2.5rem;
                                 margin: 0.2em 0;
                         }

                         &--subhead {
                                 font-size: 1.3rem;
                                 font-weight: 300;
                                 margin: 0 auto;
                                 color: $main-dark-gray;
                                 max-width: fit-content;
                                 padding: 1em 2em;
                                 @include polygon;
                         }
                 }

        }


}
   