body {
        font-family: $font, sans-serif;
}

/* HEADER */
header {
        .header__first-name {
                font-weight: 300;
                padding: 0 0.2em;
                @include contrast;
        }

        .header__last-name {
                font-weight: 700;
                @include contrast;
        }

        /* center this vertically */
        .header__icon {

                @include contrast;
        }

}


/* MAIN - INTRO */
main {

        .main__intro {

                &__copy {
                        width: 50%;
                        text-align: center;

                        &--headline {
                                font-size: 2.5rem;
                                margin: 0.2em 0;
                        }

                        &--subhead {
                                font-size: 1.3rem;
                                font-weight: 600;
                                margin: 0 auto;
                                max-width: fit-content;
                                padding: 1.5em 2em;
                                @include polygon;
                        }
                }

        }

        .main__projects {

                &--headline {

                        font-size: 2.5rem;
                        color: $white;
                }

                &__grid {
                        &--headline {
                                font-size: 1rem;
                                margin: 0.5em 1em;
                        }

                        &--description {
                                font-size: 0.75rem;
                                margin: 0.5em 1em;
                        }


                        &--overlay-link {
                                @include center;
                                color: $white;
                                font-weight: 600;
                                font-size: 0.75rem;

        
                                &:hover,
                                &:focus {
                                        color: $white;
                                        border-bottom: 1px solid $accent-color;
        
                                }   
                        }

                        font-size: 2.5rem;

                }
        }

        .main__about {
                &--headline {
                        font-weight: 600;
                        margin: 1em 0;
                        position: relative;
                        @include center;
                        font-size: 2.5rem;

                        &-mod {
                                font-size: 2rem;
                                margin-bottom: 0.5em;
                        }

                        &:after {
                                @include afterEffect;
                                @include polygon;
                                left: 4em;
                                bottom: -0.4em;
                                height: 0.3em;
                                width: 30%;
                        }
                }

                &--desc {
                        font-size: 1rem;
                        line-height: 1.3;
                }

        }

}


/* FOOTER */
.footer {
        &__info {

                &--copy {
                        font-size: 0.75rem;
                        text-align: center;
                        margin: 0.2em;
                }

                &--link {
                        @include center;

                        &:hover,
                        &:focus {
                                color: $white;
                                border-bottom: 1px solid $accent-color;

                        }
                }
        }

}

/* MEDIA QUERIES  */

@media (min-width: 800px) {

        main {
                .main__intro {
                        &__copy {
                                &--subhead {
                                        //fix weird spacing
                                        padding: 3em 4em;
                                }
                        }
                }

                .main__about {
                        &--headline {
                                //fix weird underline

                                &:after {
                                        left: 9.5em;
                                        width: 25%;
                                }
                        }
                }
        }
}