main {
    .main__about {
        
        margin: 2em auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;

        &__content {
            width: 90%;
            margin: 0 auto;
        }

        &__copy {
            @include flex-column;
        }
    }
}

@media (min-width: 800px) {

    .main__about__content {
        max-width: $max-width;
        // remove this if you add a consider amount of content
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}