main {
    .main__about {
        
        margin: 2em auto;
        background-color: $secondary-dark-gray;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;

        &__content {
            width: 90%;
            margin: 0 auto;
        }
    }
}

@media (min-width: 800px) {
    .main__about__content {
        max-width: $max-width;
    }
}

/* 

    TO DO:
    fix the spacing at the top of the section so it matches the bottom
    or reduce the spacing between this and the contact info


*/