main {
    .main__contact {
        width: 90%;
        margin: 0 auto;

        &--icons {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .fas,
        .fab {
            padding: 0 0.35em;
            margin-top: 0.5em;
            font-size: 2.5rem;
            @include center;

            &:hover {
                color: $accent-color;
            }
        }
    }
}

@media (min-width: 800px) {
    .main__contact {
        max-width: $max-width;
    }
}