/*
    INTRO SECTION - 
    the icon and the 'hello' bit

*/
main {

    .main__about {

        &__copy {
            @include flex-column;
        }
    }

    .main__intro {
        display: flex;
        justify-content: space-between;
        @include margins;

        &__img {
            background-image: url('/svg/me-white.svg');
            background-repeat: no-repeat;
            background-size: contain;
            content: '';
            width: 40%;

            &:hover {
                background-image: url('/svg/me-hover_white.svg');
            }
        }

    }
}