/*
    INTRO SECTION - 
    the icon and the 'hello' bit

*/
main {

    .main__intro {
        display: flex;
        justify-content: space-between;
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: repeat(1, 1fr);
        // grid-template-areas: 'copy image'
        //                     'copy copy';

        @include margins;

        &__copy {
            display: grid;
        }


        &__img {
            background-image: url('/svg/me-white.svg');
            background-repeat: no-repeat;
            background-size: contain;
            content: '';
            width: 40%;
            grid-template: 'image';

            &:hover {
                background-image: url('/svg/me-hover_white.svg');
            }
        }

    }
}

@media (min-width: 800px) {

        main {

            //main_display encompasses both the 'hello' intro section and the projects themselves
            .main__display {
                display: flex;
                justify-content: center;
                max-width: $max-width;
                @include margins;
            }

            .main__intro {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-right: 2em;

                &__copy {
                    order: 2;
                    width: 80%;
                }

                &__img {
                    // width: 80%; // no idea why this has to be deleted ??? but now its centered
                    height: 100%;
                    align-self: center;
                }

            }


            .main__projects--headline {
                visibility: hidden;
            }

        }

    }
