main {

    .main__about {

        &__copy {
            @include flex-column;
        }
    }

    .main__intro {
        display: flex;
        justify-content: space-between;
        @include margins;

        &__copy {
            width: 50%;
            text-align: center;
            @include flex-column;

            &--headline {
                font-size: 2.5rem;
                margin: 0.2em 0;
            }

            &--subhead {
                font-size: 1.3rem;
                font-weight: 300;
                margin: 0 auto;
                color: $main-dark-gray;
                max-width: fit-content;
                padding: 1em 2em;
                @include polygon;
            }
        }

        &__img {
            background-image: url('/svg/me-white.svg');
            background-repeat: no-repeat;
            background-size: contain;
            content: '';
            width: 40%;

            &:hover {
                background-image: url('/svg/me-hover_white.svg');
            }
        }

    }
}