
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    margin: 2.75em 0;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    //transform: translateX(100%);
    transform: translateY(-1000px);
    transition: transform 300ms cubic-bezier(.5, 0, .5, 1); //look this up: cubic-bezier(.5, 0, .5, 1)

    .nav__list {
        list-style: none;
    }

    .nav__item {
        margin: 3em 0 1em 0;
    }

    & .nav__link {
        text-decoration: none;
        font-size: 2rem;
        font-weight: 600;

        &:hover,
        &:focus {
            position: relative;
            display: inline-block;
            font-weight: 700;
        }

        &:hover:after,
        &:hover:after {
            @include afterEffect;
            left: 1em;
            height: .2em;
            bottom: -0.2em;
            width: 80%;
            background-color: $accent-color;
        }
    }
}

@media (min-width: 800px) {
    nav {
        margin: 0;
        flex-direction: column;
        justify-content: center;
        transform: translateY(0);
        position: sticky;
        height: 2em;
        background-color: unset;
        

        .nav__list {
            margin: 0.3em;
            padding-inline-start: 0; //kills the left margin

            .nav__item {
                display: inline; // horizontal UL
                padding: 0.5em;
            }

        }

        & .nav__link {
            font-size: 1.3rem;
        }


    }

}