
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    margin: 2.75em 0;
    background-color: $secondary-dark-gray;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    //transform: translateX(100%);
    transform: translateY(-1000px);
    transition: transform 300ms ease-in-out; //look this up: cubic-bezier(.5, 0, .5, 1)

    /*
        to do:
            fix the animation so it runs a little smoother (but doesn't take any time ??)
    */

    .nav__list {
        list-style: none;
    }

    .nav__item {
        margin: 3em 0 1em 0;
    }

    & .nav__link {
        text-decoration: none;
        color: $main-light-gray;
        font-size: 2rem;
        font-weight: 600;

        &:hover,
        &:focus {
            color: $button-bg-color;
            position: relative;
            display: inline-block;
            font-weight: 700;
        }

        &:hover:after,
        &:hover:after {
            @include afterEffect;
            left: 1em;
            height: .2em;
            bottom: -0.2em;
            width: 80%;
            background-color: $accent-color;
        }
    }
}