main {

    .main__projects {
        @include margins; //includes the 90% width
        
        &__grid {
            display: grid;
            gap: 0.5em;
            grid-template: auto / repeat(auto-fit, minmax(200px, 1fr)); //rows / columns (need the slash in there)
            max-width: 800px;

            &--link {
                overflow: hidden;
                background-color: $main-light-gray;
                max-height: 200px;
                max-width: 200px;
            }

            &--img {
                width: 100%;
                object-fit: cover;
                
                transition: 
                            transform 750ms cubic-bezier(.5, 0, .5, 1),
                            opacity 250ms linear;

                &:hover {
                    transform: scale(1.1);
                    opacity: .75;
                }
            }

            /* believe all this is unused */
            &--desc-title,
            &--desc,
            &--text-link {
                @include center;
            }

            &--desc-title {
                font-size: 1.5rem;
                margin: 0;
            }

            &--desc {
                font-size: 0.75rem;
                margin: 0.4em 0 1em 0;
            }

            &--text-link {
                color: $button-bg-color;
                font-weight: 700;
                letter-spacing: .75px;
                font-size: 0.75rem;
                margin: 0;

                &:hover,
                &:focus {
                    color: $secondary-dark-gray;
                    @include polygon;
                }
            }
        }
    }

}