main {

    .main__projects {
        @include margins; //includes the 90% width
        
        &__grid {
            display: grid;
            gap: 0.5em;
            grid-template: repeat(2, 1fr) / repeat(auto-fit, minmax(200px, 1fr)); //rows / columns (need the slash in there)
            max-width: 800px;

            &--link {
                overflow: hidden;
                max-height: 200px;
                max-width: 200px;
            }

            &--img {
                width: 100%;
                object-fit: cover;
                
                transition: 
                            transform 750ms cubic-bezier(.5, 0, .5, 1),
                            opacity 250ms linear;

                &:hover {
                    transform: scale(1.1);
                    opacity: .75;
                }
            }

            &--desc {
                position: relative;
                top: 0px;
                left: 0px;
                z-index: 1;
                max-width: 200px;

            }

            
        }
    }

}